{% extends 'layout.html' %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/sign_up_for_prof.css') }}"
/>
{% endblock style %} {% block content %}
<!-- Start Sign Up for Profs -->
<div class="big-sign-up-container">
  <div class="signup-container">
    <i class="fa-solid fa-user-tie"></i>
    <h2>Sign Up for Professors</h2>
    <form method="post">
      <div class="columns">
        <div class="column">
          {{ form.fname.label(for_=form.fname.id, class_="visually-hidden") }}
          {{ form.fname(placeholder=form.fname.label.text) }}
          <br />
          {{ form.lname.label(for_=form.lname.id, class_="visually-hidden") }}
          {{ form.lname(placeholder=form.lname.label.text) }}
          <br />
          {{ form.username.label(for_=form.username.id,
          class_="visually-hidden") }} {{
          form.username(placeholder=form.username.label.text) }}
          <br />
          {{ form.email.label(for_=form.email.id, class_="visually-hidden") }}
          {{ form.email(placeholder=form.email.label.text) }}
          <br />
          {{ form.password.label(for_=form.password.id,
          class_="visually-hidden") }} {{
          form.password(placeholder=form.password.label.text) }}
          <br />
          {{ form.confirm_password.label(for_=form.confirm_password.id,
          class_="visually-hidden") }} {{
          form.confirm_password(placeholder=form.confirm_password.label.text) }}
          <br />
        </div>
        <div class="column">
          {{ form.mname.label(for_=form.mname.id, class_="visually-hidden") }}
          {{ form.mname(placeholder=form.mname.label.text) }}
          <br />
          {{ form.national_id.label(for_=form.national_id.id,
          class_="visually-hidden") }} {{
          form.national_id(placeholder=form.national_id.label.text) }}
          <br />
          {{ form.contact_number.label(for_=form.contact_number.id,
          class_="visually-hidden") }} {{
          form.contact_number(placeholder=form.contact_number.label.text) }}
          <br />
          {{ form.date_of_birth.label(for_=form.date_of_birth.id,
          class_="visually-hidden") }} {{
          form.date_of_birth(placeholder=form.date_of_birth.label.text) }}
          <br />
          {{ form.gender.label(for_=form.gender.id, class_="visually-hidden") }}
          {{ form.gender(placeholder=form.gender.label.text) }}
          <br />
        </div>
      </div>
      <a href="{{ url_for('log_in') }}">Or You Are Already Have Account</a>
      <input type="submit" value="Sign Up" />
    </form>
  </div>
</div>
<!-- End Sign Up for Profs -->
{% endblock content %}
